---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
    {%include meta.html%}
</head>

<body class="bg-black text-white">
    <div class="mx-auto my-auto w-screen">
        <div class="grid place-content-center min-w-full min-h-full py-10 px-7 my-auto min-h-screen absolute z-0">
            <div class="bg-black h-full min-w-full absolute z-10"
                style="background-image: url({{site.Cover_Image}}); filter: blur(15px); background-position: center; background-size: cover;">
            </div>
            <div class="bg-black h-full w-full absolute z-20 opacity-60"></div>
            <span class="text-center z-30">
                <img id="image"
                    class="2xl:w-1/6 xl:w-1/6 lg:w-1/5 md:w-1/3 w-1/2 sm:1/2 rounded-full m-auto shadow-2xl lg:border-2 md:border-2 sm:border-2"
                    src="https://images.weserv.nl/?url={{site.Image_URL}}&h=300&w=300&fit=cover&mask=circle&l=9&output=webp&q=75"
                    onError="this.onerror=null;this.src='https://github.com/{{site.github_username}}.png';"
                    alt="{{site.name}}">
                <br>
                <h1 class="text-5xl text-center font-semibold mt-3 mx-auto">{{site.name}}</h1>
                <hr class="my-2 opacity-25">
                <p class="text-base break-words inline-flex font-normal mt-1.5 mx-auto text-center opacity-50 2xl:w-5/12 xl:w-5/12 md:w-6/12 sm:w-full justify-center">{{site.tagline}}</p>
                <div class="grid 2xl:grid-cols-5 xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-1 my-7">
                    {% unless site.links == "" %}
                    {% include links.html %}
                    {% endunless %}
                </div>
            </span>
            {% if site.footer and site.footer == 'Yes' or site.footer == 'yes' or site.footer == 'y' or site.footer == 'Y' %}<div
                class="flex absolute mt-5 z-20 bottom-0 bg-black bg-opacity-50 w-full p-2 justify-center">Made
                with&nbsp;<i class="fas fa-heart mt-1 mx-0.5 text-red-500"></i>&nbsp;by&nbsp;<a
                    class="underline font-semibold" href="https://harsh98trivedi.github.io">Harsh Trivedi</a></div>{% endif %}
        </div>
    </div>
</body>
</html>
